/* This is a temporary CSS file for all styling code, except for Normalize.
Color names from https://www.colorhexa.com/ */

:root {
    /* Colors */
    --charcoal: #36454F;
    --verylightgrey: #f9f9f9;
    --falured: #801818;
    --vividorange: #E2A21C;
    --vividblue: #0DA2F2;

    --light-bg-color: var(--verylightgrey);
    --dark-text-color: var(--charcoal);
    --dark-bg-color: var(--charcoal);
    --light-text-color: var(--verylightgrey);
    /* Text */
    --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --serif: serif;
    --monospace: monospace;

    --max-width: 1000px;
    --horizontal-gap: 0.5em;
    --vertical-gap: 1em;

    --padding-h-v: var(--horizontal-gap) var(--vertical-gap);

    font-family: var(--sans-serif);
    font-size: 16px;
    color: var(--dark-text-color);
    background: linear-gradient(180deg, var(--vividblue) 0%, var(--vividorange) 100%);
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.columns {

    .column {}
}

.app-header {
    padding: var(--vertical-gap) var(--horizontal-gap);
    background-color: var(--light-bg-color);

    .app-branding {
        @media screen and (min-width: 768px) {
            margin-right: auto;
        }
        
        .logo {
            filter: invert(100%);
            height: 34px;
        }
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            text-decoration: none;
            padding: 1em;
            color: var(--dark-text-color);
            display: block;
            font-size: 80%;

            @media screen and (min-width: 768px) {
                font-size: 100%;
            }

            svg {
                display: block;
                height: 24px;
                margin: 0 auto;
                margin-bottom: .2em;
            }
        }
    }

    .flex {
        @media screen and (min-width: 768px) {
            justify-content: flex-start;
        }
    }
}

.app-intro {
    background-size: cover;
    color: var(--light-text-color);
    width: 100%;
    height: 95vh;
    font-size: 1.5em;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        background-size: cover;
        background-color: rgba(#0DA2F2, .8);
        padding: 0 var(--vertical-gap);

        a {
            color: var(--light-text-color);
        }
    }
}

.app-about {
    div {
        flex-direction: column;
    }
}

.text-bubble{
    width: 40vw;
    padding: 1em;
    background-color: var(--light-bg-color);
    border-radius: 5em;
}